
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #000000;
  color: #ffffff;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
  font-weight: 800;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #000000;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.portfolio {
  padding: 60px 20px;
  text-align: center;
}

.carousel{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;
  position:relative;
  overflow:hidden;
  max-width:500px;
  margin:auto;
  }
  
  .carousel-track{
  display:flex;
  transition:transform 0.5s ease;
  width:100%;
  }
  
  .carousel-track img{
  min-width:100%;
  height:600px;
  object-fit:cover;
  border-radius:12px;
  }

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
}

.carousel button:first-child {
  left: 10px;
}

.carousel button:last-child {
  right: 10px;
}

.packages {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #222;
  padding: 60px;
  border-radius: 20px;
  width: 300px;
}

.highlight {
  background:  #ffffff;
}

.contact {
  padding: 60px 50px;
  text-align: center;
}

.contact a {
  display: inline-block;
  margin: 80px;
  color: #ffffff;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
}
/* SOLO tarjeta Pro */
.card.highlight {
  background-color: #ffffff;
  color: #000000;
}

/* Fuerza texto negro dentro de Pro */
.card.highlight h3,
.card.highlight p,
.card.highlight .price {
  color: #000000 !important;
}
.price {
    font-size: 38px;
    
    letter-spacing: 1px;
    margin: 15px 0;
}
.card p {
  margin: 8px 0;
}
.card h3 {
  margin-bottom: 10px;
  font-size: 22px;
}
h2 {
  margin-bottom: 40px;  /* aumenta separación hacia abajo */
}
.overlay p {
  font-size: 24px;
  
 
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 5px;
  margin-top: 15px;
  
}
  
.overlay a {
  font-size: 18px;
  
  letter-spacing: 1px;
  margin: 15px 0;
}
.contact a {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s;
}
.contact a:hover {
  background-color: #000000;
  color: #ffffff;
}
.card {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
